<div class="container">
  <table id="datatable" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rate</th>
        <th>Author tip</th>
        <th>Budget</th>
        <th>Preptime</th>
        <th>Ingredients</th>
      </tr>
    </thead>
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= recipe.rate %></td>
          <td><%= recipe.author_tip %></td>
          <td><%= recipe.budget %></td>
          <td><%= recipe.prep_time %></td>
          <td><%= recipe.ingredients.map(&:name).join(', ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>